<template>
    <div class="header">
        <div class="row">
            <div class="col-md-2">
                <au-datatable-pagesize page-sizes.bind="[10,25,50,100]" classes="form-control" on-page-size-change.bind="pageSizeChanged"
                    parameters.bind="parameters">
                </au-datatable-pagesize>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-striped" au-datatable="starting-data.bind: data; parameters.bind: parameters;">
        <thead au-datatable-sort="columns.bind: [1,2,3,4]; on-sort.bind: sort; parameters.bind: parameters">
            <tr>
                <th>Summary</th>
                <th>Date</th>
                <th>Temp C</th>
                <th>Temp F</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="item of parameters.tableData">
                <td>${item.summary}></td>
                <td>${item.dateFormatted}></td>
                <td>${item.temperatureF}></td>
                <td>${item.temperatureC}></td>
        </tbody>
    </table>
    <div class="footer">
        <div class="row">
            <div class="col-md-8">
                <au-datatable-info parameters.bind="parameters">
                </au-datatable-info>
            </div>
            <div class="col-md-4">
                <au-datatable-pagination class="float-right" on-next-page.bind="nextPage" on-previous-page.bind="previousPage" on-page-change.bind="changePage"
                    parameters.bind="parameters">
                </au-datatable-pagination>
            </div>
        </div>
    </div>
</template>